.SliderItem {
    width: 90%;
    background-color: azure;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    border-radius: 10px;
}

.SliderItem .Slider-image {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.SliderItem .Slider-details {

    margin-left: 15px;
}

.SliderItem ul li {
    margin-bottom: 10px;
    list-style-type: none;
}